///
/// Base Styling
///
/// -------------------------------------------
///


@import url("~material-design-icons/iconfont/material-icons.css");

@import "variables/color-scheme";

* {
    box-sizing: border-box;
}

body {
    background-color: $clr-grey-900;
    color: white;
    i.material-icons {
        color: red;
    }
}