
@import 'mixins/spacing';
@import 'variables/color-scheme';
@import 'variables/spacing';

:host {
    background-color: $primary-dark;
    width: 100%;
    display: inline-block;
    padding: $spacing-medium;
}

h3 {
    @include remove-spacing;
    color: white;
    display: inline-block;
}