///
/// Color Scheme
/// 
/// Application color scheme. The colours used here are intended to reflect the material design
/// theme purveyed by Google
/// 
/// @author Robert Main <lenswipe@gmail.com>
/// @group color
/// 
/// -------------------------------------------
///

@import "~material-design-color/material-color.scss";

///Primary application colour
$primary: $clr-grey-700;
$primary-light: $clr-grey-600;
$primary-dark: $clr-grey-800;

//Secondary application colour (accent used for buttons to add small accents here and there)
$secondary: $clr-cyan-500;
$secondary-light: $clr-cyan-300;
$secondary-dark: $clr-cyan-800;