///
/// Spacing
/// 
/// Global spacing variables used to ensure consistent spacing throughout
/// 
/// @author Robert Main <lenswipe@gmail.com>
/// @group spacing
/// 
/// -------------------------------------------
///

$spacing-small: 5px;

$spacing-medium: 10px;

$spacing-large: 20px;

$spacing-xlarge: 40px;