///
/// Spacing
/// 
/// This file contains mixins related to the manipulation of various types of spacing
/// 
/// @author Robert Main <lenswipe@gmail.com>
/// @group spacing
///
/// -------------------------------------------
///


/// Remove all padding on a given element
/// @example
/// #profile{@include remove-padding}
@mixin remove-padding {
    padding: 0px;
}


/// Remove all margins on a given element
/// @example
/// #profile{@include remove-margin}
@mixin remove-margin {
    margin: 0px;
}


/// Remove all padding and margins on a given element
/// @example
/// #profile{@include remove-spacing}
@mixin remove-spacing {
    @include remove-padding;
    @include remove-margin;
}